*{
    margin:5px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(188, 95, 23, 0.763);
}
fieldset{
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.668);
    border-radius: 20px;
    border-color: black;
    background-color: burlywood;
    padding: 20px;
    width: 50%;
    margin: auto;
}
label{
    
    display: block;
}
input{
    display: block;
    border: none;
   background-color: transparent;
    border-bottom: 1px solid black;
   width: 100%;
   
}
input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin: 5px;
   

}

button{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(183, 81, 37, 0.908);
    color: white;
    box-shadow: 3px 3px 5px lightgrey;
    box-sizing: border-box;
}
button:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}


div, p{
    display: inline;
    
}
.sign{
    
    color: lightseagreen;
}

.sign:hover{
    cursor: pointer;
}
div, span{
   padding: 5px;
}

